# configfile
.dotfile
.gitconfig
!.config/qtile/*
!.config/i3/*
.config/qtile/*.pyc
.config/qtile/__pycache__
.config/*

# User Directories
Android
Desktop
Downloads
Documents
Dropbox
Pictures
Music
Public
Videos
Templates
workspace
tmp-dir

# Additional Directories
snap
android-studio
shared-docker
.virt*
.cache*
.local*
.kube*
.ssh*
.xsession*
.xfce4*
.kvm*
.gradle*
.npm*
.m2*
.java*
.kismet*
.vscode*
.mozilla*
.node*
.minikube*
.gem*
.helm*
.ionic*
.lesshst*
.vagrant*
.terraform*
.packer*
.psql*
.swt*
.vim/bundle/*
.vim/autoload/*
.viminfo
.pki*
.gnome*
.esmtp*
.eclipse*
.dropbox*
.dbeaver*
.android*
.AndroidStudio*
.ansible*
.ICEauthority*
.aws*
.esd_auth*
.gstreamer*
.cert*
.python*
.pylint*
.fehbg*
